<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    
    <title>Login</title>
</head>
<body>
    <main class="login__container">
    
        <div class="center wrapper">
            <div class="form__container">

                <form action="{{ url_for('signin') }}" method="post" id="loginform">
                    <div class="nameform">
                        <input type="text" name="nameform" id="loginname" placeholder="Nome">
                        <p id="namevalidate"></p>
                    </div>
                    
                    <div class="emailform">
                        <input type="email" id="loginemail" name="emailform" placeholder="exemplocriativo@gmail.com">
                        <p id="emailvalidate" class="none"></p>
                    </div>
                    <button> Entrar </button>
                    
                </form>

            </div>
        </div>
        {% with messages = get_flashed_messages()  %}
        {% if messages %}
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
        {% endif %}
        {% endwith %}

    </main>
    <script src="{{ url_for('static' , filename='js/script.js') }}"></script>
</body>
</html>